@font-face {
	font-family: "googleABeeZee";
	src: url(./assets/fonts/ABeeZee/ABeeZee-Regular.ttf);
}

@font-face {
	font-family: "googleABeeZeeItalic";
	src: url(./assets/fonts/ABeeZee/ABeeZee-Italic.ttf);
}
